body {
    font-family: Arial, sans-serif;
    width: 100%;
    align-items: center;
    background: linear-gradient(to right, #00b8d4, #0052cc);
}
  
  
form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

form > div > label {
    flex: 1;
    font-weight: bold;
    margin-right: 10px;
}


button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}
