<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container">
            <a class="text-primary" href="/"><h1>Home</h1></a>
            {% if request.user.is_authenticated %}
              <p style="color: beige;">hello {{ request.user.username }}!</p>
              <a href="/logout">
                Log out
            </a>
            {% else %}
            <div>
              <a class="text-primary" href="/login"><h5>Log In</h5></a>
              <a class="text-primary" href="/signup"><h5>Sign Up</h5></a>
            </div>
            {% endif %}
    </div>
  </nav>
</nav>
