{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>{% block title %} buyTogether {% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/website_description.css' %}">
    </head>

    <body>
        {% include './help_parts/nav.html' %}
        <div class="projectName red">
            buyTogether
        </div>
        <div class="bigFont">
            <p>The idea of the project is to let group of people to organize together and buy straight from the supplier at lower cost.</p>
            Goals
            <br>
            - to create simple and easy communication between an organized group of people and a supplier.
            <br>
            - lower the prices of food cost
            <br>
			Our plan.
				In order to execute our idea, we intend to build a web application, we will divide our 
				work between us(five members total) and each will be responsible for each section of the project.       
			</div>
            <footer style="display: flex; justify-content: center; text-align: center; position: relative; top: 110px; width: 100%; font-size: 25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:brown">
                <h3>linkedIn:</h3>
                <div id="box1" style="width: 200px; height: 50px; align-items: center;">
                    <a href="https://www.linkedin.com/in/lior-silberman-5327a5237/" style="color:blue">Lior Silberman</a>
                </div>
                <div id="box2" style="width: 200px; height: 50px; align-items: center; ">
                    <a href="https://www.linkedin.com/in/karam-jbareen-b9206b218/" style="color:blue">Karam Jbareen</a>
                </div>
                <div id="box3" style="width: 200px; height: 50px; align-items: center;">
                    <a href="https://www.linkedin.com/in/rawan-abu-leil-169781262/" style="color:blue">Rawan Abuleil</a>
                </div>
                <div id="box4" style="width: 200px; height: 50px; align-items: center;">
                    <a href="https://www.linkedin.com/in/paz-menachem-64307a263/" style="color:blue">Paz Menachem</a>
                </div>
                <div id="box5" style="width: 200px; height: 50px; align-items: center;">
                    <a href="https://www.linkedin.com/in/meitar-rizner/" style="color:blue">Meitar Rizner</a>
                </div>
            </footer>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>
